@{
    ViewData["Title"] = "Features";
}
<h4>@ViewData["Title"] v0.7-beta</h4>
<br>
<div class="text-left">
    <ul>
        <li>Create overlay over any picture with gpx track</li>
        <li>Load latest activity from your Garmin Account to be used as track</li>
        <li>Display pace, distance, elevationgain, time on overlay</li>
        <ul>
            <li>Elevationgain is only shown, if its above 100m or 300ft</li>
        </ul>
        <li>Display graphical interpretation of track on overlay</li>
        <li>Display elevationgraph on overlay</li>
        <br><em>Advanced Options</em>
        <li>Override any values of the track like time, distance or elevationgain</li>
        <li>Disable reduction of the track</li>
        <li>Rotate the Image if necessary</li>
        <li>Hide the elevationgraph (only used if elevationgain >100m or >300ft)</li>
        <li>Switch to imperial units</li>
        <li>Display a custom logo on the top left corner, scaled to 500px width</li>
        <li>Change color of overlay</li>
        <li>Multiple Layouts: standard and track only</li>
        <li>Draw a gradient at the bottom and top of the picture to lift the contrast</li>
    </ul>
</div>