@{
    ViewData["Title"] = "Information / Privacy";
}
<h4>@ViewData["Title"]</h4>
<br>
<div class="text-left">
    <p>This tool was created by Max Pfandl and was intented for private use but made public on popular demand. Source is basically open, but only on request.</p>
    <p>The application is hosted on a Raspberry Pi: thus performance may not be not as snappy as it could be.</p>
    <p>Uploaded data is not store on the server: pictures, tracks and user credentials are only in memory and will be removed after the generation.</p>
    <p>Results of requests to Garmin are cached for 10 minutes to avoid latency for previewing/changeing/downloading the overlay. Credentials are not cached or stored in any way.</p>
    <p>Reading the track from Garmin is inspired from <a href="https://github.com/kjkjava/garmin-connect-export">garmin-connect-export by Kyle Krafka.</a></p>
    <p>Some settings are stored on the local webclient for convenience (gpx-file or garmin, toggle advanced)</p>
    <p>For statistical purposes, Google Analytics is included in the page.</p>
    <p>Google Ads are placed on the page to help me finance the server.</p>
    <p>Feedback is always welcome: just drop me a line <a href="mailto:gpxoverlay@madmap.at">here.</a></p>
</div>


